@charset "utf-8";

// font
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

// color
$pink: #ffb3b3;
$olivedrab: #6b8e23;
$primary: $olivedrab;

.is-vertical-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
}

// font
$family-primary: "Alata", "Kosugi Maru";

@import "../../node_modules/bulma/bulma.sass";

@import "../../node_modules/bulma-extensions/src/sass/index.sass";
@import "../../node_modules/bulma-extensions/bulma-tooltip/src/sass/index.sass";
